@{
    ViewBag.Title = "Geek Quiz";
}
<div id="bodyContainer"></div>
<script type="text/x-handlebars" id="index">
    <section id="content">
        <div class="container ">
            <div class="row">
                <div class="flip-container text-center col-md-12">
                    <div {{bindAttr class=":back question.answered:flip answer" }}>
                        <p class="lead">
                            {{answer}}
                        </p>
                        <p>
                            <button class="btn btn-info btn-lg next option" {{action "nextQuestion" option}}>Next Question</button>
                        </p>
                    </div>
                    <div {{bindAttr class=":front question.answered:flip" }}>
                        <p class="lead">
                            {{question.title}}
                        </p>
                        <div class="row text-center" >
                            {{#each option in question.options}}
                                <button class="btn btn-info btn-lg option " style="display:block;margin:auto" {{action "sendAnswer" question option}}>{{option.title}}</button>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="list-group" style="margin-top:11rem;padding:0px">
            
            @foreach (var q in (List<string>)ViewData["questions"])
            {
                <li class="list-group-item" id="question_li">@q</li>
                <!--if (ViewData["active"].ToString() == q)
                {
                    <li class="list-group-item active" id="question_li">@q</li>
                }
                else
                {
                    <li class="list-group-item" id="question_li">@q</li>
                }
                    --> 
              }
        </ul>
    </section>
</script>
@section Scripts {
    <script src="@Url.Content("~/Scripts/handlebars.js")"></script>
    <script src="@Url.Content("~/Scripts/ember-1.0.0.js")"></script>
    <script>
        var App = Ember.Application.create({ rootElement: '#bodyContainer' });

        App.Question = Ember.Object.extend({ title: "loading question...", options: [], answered: false });

        App.IndexController = Ember.ObjectController.extend({
            question: null,
            answer: null,

            init: function () {
                this._super();
                this.nextQuestion();
            },

            nextQuestion: function () {
                var controller = this;
                var question = App.Question.create();
                this.set('question', question);

                jQuery.getJSON("/api/trivia", function (response) {
                    question.setProperties(response);
                    $("li[id='question_li'").each(function () {
                        if ($(this).html() == response.title) {
                            $(this).addClass("active");
                        }
                        else {
                            $(this).removeClass("active");
                        };
                    })
                }).fail(function () { question.set('title', "Oops... something went wrong") });
            },

            sendAnswer: function (question, option) {
                var controller = this;

                // prevent multiple posts for the same question
                jQuery('.front button').attr('disabled', 'disabled');

                jQuery.post('/api/trivia', { 'questionId': question.id, 'optionId': option.id }, function (response) {
                    controller.set('answer', response ? 'correct' : 'incorrect');
                    controller.set('question.answered', true);
                }
                    );
            }
        });
    </script>
}